Repository ej3076/total-loss-process, changes with the owners that CODEOWNERS names for each.
All owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

CODEOWNERS:

*            @dbartalino @dsifford @ej3076 @sloan-seamus
/frontend/   @ej3076 @sloan-seamus
/middleware/ @dbartalino
/processors/ @dsifford

Error handling (#64)
  middleware/app.js
  middleware/routes/claims.js
Owners: @dbartalino

Add file table, along with file add functionality.
  frontend/insurance/src/app/app-routing.module.ts
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.ts
  frontend/insurance/src/app/core/core.module.ts
  frontend/insurance/src/app/core/services/middleware/middleware.service.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/files/dialog-overview-example-dialog.html
  frontend/insurance/src/app/shared/components/files/edit-file-dialog.html
  frontend/insurance/src/app/shared/components/files/files.component.html
  frontend/insurance/src/app/shared/components/files/files.component.scss
  frontend/insurance/src/app/shared/components/files/files.component.spec.ts
  frontend/insurance/src/app/shared/components/files/files.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
Owners: @ej3076, @sloan-seamus

Edit files, vehicle and insurance information
  frontend/insurance/src/app/app-routing.module.ts
  frontend/insurance/src/app/app.module.ts
  frontend/insurance/src/app/core/services/middleware/middleware.service.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim-routing.module.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.module.ts
  frontend/insurance/src/app/modules/edit-claim/edit-files/edit-files.component.html
  frontend/insurance/src/app/modules/edit-claim/edit-files/edit-files.component.scss
  frontend/insurance/src/app/modules/edit-claim/edit-files/edit-files.component.spec.ts
  frontend/insurance/src/app/modules/edit-claim/edit-files/edit-files.component.ts
  frontend/insurance/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.html
  frontend/insurance/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.scss
  frontend/insurance/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.spec.ts
  frontend/insurance/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/files/dialog-overview-example-dialog.html
  frontend/insurance/src/app/shared/components/files/edit-file-dialog.html
  frontend/insurance/src/app/shared/components/files/files.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/styles.scss
Owners: @ej3076, @sloan-seamus

Add file name edit, fix edit claim bug
  frontend/insurance/src/app/core/services/middleware/middleware.service.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.scss
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/files/edit-file-dialog.html
  frontend/insurance/src/app/shared/components/files/files.component.ts
Owners: @ej3076, @sloan-seamus

update test workflows + add some tests in viewer
  .circleci/config.yml
  .gitignore
  frontend/viewer/package-lock.json
  frontend/viewer/package.json
  frontend/viewer/src/components/container/__tests__/__snapshots__/container.test.tsx.snap
  frontend/viewer/src/components/container/__tests__/container.test.tsx
  frontend/viewer/src/components/link-button/__tests__/__snapshots__/link-button.test.tsx.snap
  frontend/viewer/src/components/link-button/__tests__/link-button.test.tsx
  frontend/viewer/src/components/main/__tests__/__snapshots__/main.test.tsx.snap
  frontend/viewer/src/components/main/__tests__/main.test.tsx
  frontend/viewer/src/components/navbar/__tests__/__snapshots__/navbar.test.tsx.snap
  frontend/viewer/src/components/navbar/__tests__/navbar.test.tsx
  frontend/viewer/src/pages/home/__tests__/__snapshots__/home.test.tsx.snap
  frontend/viewer/src/pages/home/__tests__/home.test.tsx
  frontend/viewer/src/setupTests.ts
  middleware/package-lock.json
  middleware/package.json
  package-lock.json
  package.json
  processors/package-lock.json
  processors/package.json
  utils/package-lock.json
  utils/package.json
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

downgrade viewer tests to node 11.10 until 11.12+ image is available
  .circleci/config.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Formatting and deletion of the old View Claims
  frontend/insurance/src/app/app.module.ts
  frontend/insurance/src/app/modules/home/home.component.html
  frontend/insurance/src/app/modules/home/home.component.spec.ts
  frontend/insurance/src/app/modules/home/home.component.ts
  frontend/insurance/src/app/modules/home/home.module.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.scss
  frontend/insurance/src/app/modules/view-claims/view-claims.component.spec.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/files/edit-file-dialog.html
  frontend/insurance/src/app/shared/components/files/files.component.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.spec.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/app/view-claims/view-claims.component.html
  frontend/insurance/src/app/view-claims/view-claims.component.scss
  frontend/insurance/src/app/view-claims/view-claims.component.spec.ts
  frontend/insurance/src/app/view-claims/view-claims.component.ts
Owners: @ej3076, @sloan-seamus

fix incorrect caching
  .circleci/config.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

fix artifact saving
  .circleci/config.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Added a default value to the view claims status dropdown
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

fix test results path
  .circleci/config.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Fix linting errors
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/files/files.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
Owners: @ej3076, @sloan-seamus

update test workflows + add some tests in viewer (#65)
  .circleci/config.yml
  .gitignore
  frontend/viewer/package-lock.json
  frontend/viewer/package.json
  frontend/viewer/src/components/container/__tests__/__snapshots__/container.test.tsx.snap
  frontend/viewer/src/components/container/__tests__/container.test.tsx
  frontend/viewer/src/components/link-button/__tests__/__snapshots__/link-button.test.tsx.snap
  frontend/viewer/src/components/link-button/__tests__/link-button.test.tsx
  frontend/viewer/src/components/main/__tests__/__snapshots__/main.test.tsx.snap
  frontend/viewer/src/components/main/__tests__/main.test.tsx
  frontend/viewer/src/components/navbar/__tests__/__snapshots__/navbar.test.tsx.snap
  frontend/viewer/src/components/navbar/__tests__/navbar.test.tsx
  frontend/viewer/src/pages/home/__tests__/__snapshots__/home.test.tsx.snap
  frontend/viewer/src/pages/home/__tests__/home.test.tsx
  frontend/viewer/src/setupTests.ts
  middleware/package-lock.json
  middleware/package.json
  package-lock.json
  package.json
  processors/package-lock.json
  processors/package.json
  utils/package-lock.json
  utils/package.json
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Missed an edit in last commit.
  middleware/routes/claims.js
Owners: @dbartalino

Missed an edit in last commit. (#67)
  middleware/routes/claims.js
Owners: @dbartalino

enable coverage reporting in viewer app tests
  frontend/viewer/package.json
Owners: @ej3076, @sloan-seamus

Update dependencies
  frontend/insurance/package.json
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

Move edit claim to new page along with other things
  frontend/insurance/src/app/app-routing.module.ts
  frontend/insurance/src/app/app.module.ts
  frontend/insurance/src/app/core/services/auth/auth-guard.service.ts
  frontend/insurance/src/app/core/services/auth/auth.service.ts
  frontend/insurance/src/app/core/services/middleware/middleware.service.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.module.ts
  frontend/insurance/src/app/modules/home/home.component.html
  frontend/insurance/src/app/modules/material/material.module.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.scss
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/files/dialog-overview-example-dialog.html
  frontend/insurance/src/app/shared/components/files/edit-file-dialog.html
  frontend/insurance/src/app/shared/components/files/files.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/index.html
  frontend/insurance/src/sass/core/core.scss
  frontend/insurance/src/sass/core/edit-claim.scss
  frontend/insurance/src/sass/main.scss
  frontend/insurance/src/sass/spacing/spacing.scss
  frontend/insurance/src/styles.scss
Owners: @ej3076, @sloan-seamus

Cleanup - remove home component and unused dependencies
  frontend/insurance/src/app/app.module.ts
  frontend/insurance/src/app/core/services/middleware/middleware.service.ts
  frontend/insurance/src/app/modules/home/home.component.html
  frontend/insurance/src/app/modules/home/home.component.scss
  frontend/insurance/src/app/modules/home/home.component.spec.ts
  frontend/insurance/src/app/modules/home/home.component.ts
  frontend/insurance/src/app/modules/home/home.module.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

Modified color scheme. Ability to change to dark mode eventually Changed the logo to text
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.scss
  frontend/insurance/src/app/modules/home/home.component.html
  frontend/insurance/src/app/modules/home/home.component.scss
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/sass/spacing/spacing.scss
  frontend/insurance/src/sass/theme.scss
  frontend/insurance/src/styles.scss
Owners: @ej3076, @sloan-seamus

Fixed linting issue. Fixed Derek's `display: flex;` comment.
  frontend/insurance/src/app/modules/home/home.component.html
  frontend/insurance/src/app/modules/home/home.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.scss
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

Logo + Color Scheme (#69)
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.scss
  frontend/insurance/src/app/modules/home/home.component.html
  frontend/insurance/src/app/modules/home/home.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.scss
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/sass/spacing/spacing.scss
  frontend/insurance/src/sass/theme.scss
  frontend/insurance/src/styles.scss
Owners: @ej3076, @sloan-seamus

VIN Validation
  frontend/insurance/package-lock.json
  frontend/insurance/package.json
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

More Improvements
  frontend/insurance/src/app/app.component.html
  frontend/insurance/src/app/app.component.ts
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.ts
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.spec.ts
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/sass/core/core.scss
  frontend/insurance/src/sass/theme.scss
  frontend/insurance/src/styles.scss
Owners: @ej3076, @sloan-seamus

Robustify Edit Claim -> Move to Own Page (+ Improvements (#68)
  frontend/insurance/src/app/app-routing.module.ts
  frontend/insurance/src/app/app.module.ts
  frontend/insurance/src/app/core/services/auth/auth-guard.service.ts
  frontend/insurance/src/app/core/services/auth/auth.service.ts
  frontend/insurance/src/app/core/services/middleware/middleware.service.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.module.ts
  frontend/insurance/src/app/modules/home/home.component.html
  frontend/insurance/src/app/modules/home/home.component.scss
  frontend/insurance/src/app/modules/home/home.component.ts
  frontend/insurance/src/app/modules/home/home.module.ts
  frontend/insurance/src/app/modules/material/material.module.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.scss
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/files/dialog-overview-example-dialog.html
  frontend/insurance/src/app/shared/components/files/edit-file-dialog.html
  frontend/insurance/src/app/shared/components/files/files.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/index.html
  frontend/insurance/src/sass/core/core.scss
  frontend/insurance/src/sass/core/edit-claim.scss
  frontend/insurance/src/sass/main.scss
  frontend/insurance/src/sass/spacing/spacing.scss
  frontend/insurance/src/styles.scss
Owners: @ej3076, @sloan-seamus

Dark mode in progress Vin api in progress
  frontend/insurance/src/app/app.component.html
  frontend/insurance/src/app/app.component.ts
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.ts
  frontend/insurance/src/app/modules/home/home.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/interfaces/VehicleData.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/sass/core/core.scss
  frontend/insurance/src/sass/theme.scss
Owners: @ej3076, @sloan-seamus

Stlying issues.
  frontend/insurance/src/sass/core/core.scss
  frontend/insurance/src/sass/core/edit-claim.scss
  frontend/insurance/src/sass/main.scss
  frontend/insurance/src/sass/theme.scss
  frontend/insurance/src/styles.scss
Owners: @ej3076, @sloan-seamus

VIN Validation + Dark Mode (#70)
  frontend/insurance/package-lock.json
  frontend/insurance/package.json
  frontend/insurance/src/app/app.component.html
  frontend/insurance/src/app/app.component.ts
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.ts
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.spec.ts
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/app/shared/interfaces/VehicleData.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/sass/core/core.scss
  frontend/insurance/src/sass/core/edit-claim.scss
  frontend/insurance/src/sass/main.scss
  frontend/insurance/src/sass/theme.scss
  frontend/insurance/src/styles.scss
  types/globals.d.ts
Owners: @ej3076, @sloan-seamus, @dbartalino, @dsifford

Dark Mode!!!!!!!!!!!!!!!!!!!!!!!!!!
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/files/dialog-overview-example-dialog.html
  frontend/insurance/src/app/shared/components/files/edit-file-dialog.html
  frontend/insurance/src/app/shared/components/files/files.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/sass/core/core.scss
  frontend/insurance/src/sass/theme.scss
  frontend/insurance/src/styles.scss
Owners: @ej3076, @sloan-seamus

Fix the VIN information API
  frontend/insurance/src/app/app.component.ts
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/interfaces/VinApi.ts
Owners: @ej3076, @sloan-seamus

Remove model from markup
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
Owners: @ej3076, @sloan-seamus

Dark Mode!!!!!!!!!!!!!!!!!!!!!!!!!! (#71)
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/files/dialog-overview-example-dialog.html
  frontend/insurance/src/app/shared/components/files/edit-file-dialog.html
  frontend/insurance/src/app/shared/components/files/files.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/sass/core/core.scss
  frontend/insurance/src/sass/theme.scss
  frontend/insurance/src/styles.scss
Owners: @ej3076, @sloan-seamus

Fix VIN Information Call (#72)
  frontend/insurance/src/app/app.component.ts
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/interfaces/VinApi.ts
Owners: @ej3076, @sloan-seamus

Cache vehicle data per vin
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
Owners: @ej3076, @sloan-seamus

fix jabroni disaster
  frontend/insurance/src/app/app.component.html
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

Editable Fields color change in edit-claim
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/sass/core/edit-claim.scss
Owners: @ej3076, @sloan-seamus

Editable Fields color change in edit-claim (#74)
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/sass/core/edit-claim.scss
Owners: @ej3076, @sloan-seamus

last min adjustments
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/viewer/package-lock.json
  frontend/viewer/package.json
  middleware/Dockerfile
  processors/Dockerfile
Owners: @ej3076, @sloan-seamus, @dbartalino, @dsifford

Seamus Tasks (Elevation, Buttons, Spacing)
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/sass/core/edit-claim.scss
  frontend/insurance/src/sass/spacing/spacing.scss
  package-lock.json
Owners: @ej3076, @sloan-seamus, @dbartalino, @dsifford

update dependencies + unpin node version from viewer app test machine
  .circleci/config.yml
  frontend/viewer/package-lock.json
  frontend/viewer/package.json
  middleware/package-lock.json
  middleware/package.json
  package.json
  processors/package-lock.json
  processors/package.json
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus
