Repository ej3076/total-loss-process, changes with the owners that CODEOWNERS names for each.
All owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

fix blockchain numbering bug on viewer when blockchain forks on multinode
  frontend/viewer/src/pages/feed/index.tsx
Owners: @ej3076, @sloan-seamus

Set err.statusCode based on InvalidTransaction message
  middleware/app.js
Owners: @dbartalino

Set err.statusCode based on InvalidTransaction message (#76)
  middleware/app.js
Owners: @dbartalino

Seamus Tasks (Elevation, Buttons, Spacing) (#75)
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.scss
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/sass/core/edit-claim.scss
  frontend/insurance/src/sass/spacing/spacing.scss
  frontend/insurance/src/sass/theme.scss
  package-lock.json
Owners: @ej3076, @sloan-seamus, @dbartalino, @dsifford

Initial commit
  frontend/insurance/src/app/core/services/middleware/middleware.service.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/files/dialog-overview-example-dialog.html
  frontend/insurance/src/app/shared/components/files/edit-file-dialog.html
  frontend/insurance/src/app/shared/components/files/files.component.html
  frontend/insurance/src/app/shared/components/files/files.component.scss
  frontend/insurance/src/app/shared/components/files/files.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
  middleware/routes/claims.js
Owners: @ej3076, @sloan-seamus, @dbartalino

finish viewer app single claim page
  frontend/viewer/package-lock.json
  frontend/viewer/package.json
  frontend/viewer/src/components/status-tag/__tests__/__snapshots__/status-tag.test.tsx.snap
  frontend/viewer/src/components/status-tag/__tests__/status-tag.test.tsx
  frontend/viewer/src/components/status-tag/index.tsx
  frontend/viewer/src/pages/claims/index.tsx
  frontend/viewer/src/pages/home/__tests__/__snapshots__/home.test.tsx.snap
  frontend/viewer/src/pages/home/index.tsx
  frontend/viewer/src/pages/single-claim/index.tsx
  frontend/viewer/src/serviceWorker.ts
Owners: @ej3076, @sloan-seamus

Additional updates to frontend UI based on feedback.
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
Owners: @ej3076, @sloan-seamus

finish viewer app single claim page (#78)
  frontend/viewer/package-lock.json
  frontend/viewer/package.json
  frontend/viewer/src/components/status-tag/__tests__/__snapshots__/status-tag.test.tsx.snap
  frontend/viewer/src/components/status-tag/__tests__/status-tag.test.tsx
  frontend/viewer/src/components/status-tag/index.tsx
  frontend/viewer/src/pages/claims/index.tsx
  frontend/viewer/src/pages/home/__tests__/__snapshots__/home.test.tsx.snap
  frontend/viewer/src/pages/home/index.tsx
  frontend/viewer/src/pages/single-claim/index.tsx
  frontend/viewer/src/serviceWorker.ts
Owners: @ej3076, @sloan-seamus

Add drag n drop zone for files, reformat the upload section
  frontend/insurance/package-lock.json
  frontend/insurance/package.json
  frontend/insurance/src/app/core/services/middleware/middleware.service.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/files/edit-file-dialog.html
  frontend/insurance/src/app/shared/components/files/files.component.html
  frontend/insurance/src/app/shared/components/files/files.component.scss
  frontend/insurance/src/app/shared/components/files/files.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/sass/spacing/spacing.scss
  middleware/routes/claims.js
Owners: @ej3076, @sloan-seamus, @dbartalino

remove some commented code
  frontend/insurance/src/app/shared/components/files/files.component.html
Owners: @ej3076, @sloan-seamus

Further cleanup, center PDF preview
  frontend/insurance/src/app/shared/components/files/files.component.html
  frontend/insurance/src/app/shared/components/files/files.component.scss
  frontend/insurance/src/app/shared/components/files/files.component.ts
Owners: @ej3076, @sloan-seamus

Final Feature (#77)
  frontend/insurance/package-lock.json
  frontend/insurance/package.json
  frontend/insurance/src/app/core/services/middleware/middleware.service.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/files/dialog-overview-example-dialog.html
  frontend/insurance/src/app/shared/components/files/edit-file-dialog.html
  frontend/insurance/src/app/shared/components/files/files.component.html
  frontend/insurance/src/app/shared/components/files/files.component.scss
  frontend/insurance/src/app/shared/components/files/files.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/sass/spacing/spacing.scss
  middleware/routes/claims.js
Owners: @ej3076, @sloan-seamus, @dbartalino

More UI Fixes (#79)
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
Owners: @ej3076, @sloan-seamus

Seamus Tasks 2 (Part 1) Please don't merge yet. One additional commit coming for the rest of validation.
  frontend/insurance/package-lock.json
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/files/files.component.ts
  frontend/insurance/src/sass/theme.scss
Owners: @ej3076, @sloan-seamus

Nothing to see here. Move along.
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
Owners: @ej3076, @sloan-seamus

Add error message on download fail
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
Owners: @ej3076, @sloan-seamus

Part 2:
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/app/shared/numbers-only.directive.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/sass/core/edit-claim.scss
  frontend/insurance/src/tslint.json
Owners: @ej3076, @sloan-seamus

Update view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
Owners: @ej3076, @sloan-seamus

throw error on hash mismatch
  middleware/lib/utils/s3.js
  middleware/routes/claims.js
Owners: @dbartalino

Seamus Tasks 2 (Part 1) (#80)
  frontend/insurance/package-lock.json
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/files/files.component.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/app/shared/numbers-only.directive.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/sass/core/edit-claim.scss
  frontend/insurance/src/sass/theme.scss
  frontend/insurance/src/tslint.json
Owners: @ej3076, @sloan-seamus

throw error on hash mismatch (#81)
  middleware/lib/utils/s3.js
  middleware/routes/claims.js
Owners: @dbartalino

Put the MESSAGE in ERROR message
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
Owners: @ej3076, @sloan-seamus

fix jabroni error
  frontend/insurance/src/app/shared/numbers-only.directive.ts
Owners: @ej3076, @sloan-seamus

Show correct message from middleware for tampered file, undo some validation that was acting funky
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  middleware/routes/claims.js
Owners: @ej3076, @sloan-seamus, @dbartalino

Get unit test coverage up to 42% from 0%
  frontend/insurance/src/app/app.component.spec.ts
  frontend/insurance/src/app/app.module.ts
  frontend/insurance/src/app/core/components/callback/callback.component.spec.ts
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.spec.ts
  frontend/insurance/src/app/core/services/auth/auth-guard.service.spec.ts
  frontend/insurance/src/app/core/services/auth/auth.service.spec.ts
  frontend/insurance/src/app/core/services/middleware/middleware.service.spec.ts
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.spec.ts
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.spec.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/shared/components/files/files.component.spec.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.spec.ts
Owners: @ej3076, @sloan-seamus

Cleanup, add circleci entry
  .circleci/config.yml
  frontend/insurance/package.json
  frontend/insurance/src/app/core/services/auth/auth-guard.service.spec.ts
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.spec.ts
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/shared/components/files/files.component.spec.ts
  frontend/insurance/src/app/shared/components/files/files.component.ts
  frontend/insurance/src/karma.conf.js
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Missed line
  .circleci/config.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

another try
  .circleci/config.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

fix circle not recognizing chrome
  .circleci/config.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

fix path to protos definitions
  frontend/insurance/src/tsconfig.spec.json
Owners: @ej3076, @sloan-seamus

Another test run
  .circleci/config.yml
  frontend/insurance/package-lock.json
  frontend/insurance/package.json
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.spec.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

run number 5
  .circleci/config.yml
  frontend/insurance/src/karma.conf.js
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

add code coverage report
  frontend/insurance/package.json
Owners: @ej3076, @sloan-seamus

remove random test order
  frontend/insurance/src/karma.conf.js
Owners: @ej3076, @sloan-seamus

Minor fixes
  frontend/insurance/package-lock.json
  frontend/insurance/package.json
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.spec.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.spec.ts
  frontend/insurance/src/karma.conf.js
Owners: @ej3076, @sloan-seamus

Add test for get claims, which fixes view claims
  frontend/insurance/src/app/core/services/middleware/middleware.service.spec.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.spec.ts
  frontend/insurance/src/karma.conf.js
Owners: @ej3076, @sloan-seamus

Another one
  frontend/insurance/src/app/core/services/middleware/middleware.service.spec.ts
Owners: @ej3076, @sloan-seamus

Add no errors schema for now until more unit tests are done
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.spec.ts
Owners: @ej3076, @sloan-seamus

add readme
  README.md
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

update readme to include jake's suggestions
  README.md
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

CODEOWNERS:

*            @dbartalino @dsifford @ej3076 @sloan-seamus
/frontend/   @ej3076 @sloan-seamus
/middleware/ @dbartalino
/processors/ @dsifford
