Repository ej3076/total-loss-process, changes with the owners that CODEOWNERS names for each.
All owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

fix fatal error in frontend code
  frontend/src/app/view-claims/view-claims.component.ts
Owners: @ej3076, @sloan-seamus

fix index.html
  frontend/src/index.html
Owners: @ej3076, @sloan-seamus

Fixes
  frontend/src/app/middleware/middleware.service.ts
Owners: @ej3076, @sloan-seamus

Single Claim View (#44)
  frontend/src/app/app-routing.module.ts
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.scss
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/styles.scss
Owners: @ej3076, @sloan-seamus

finish initial unf*ck of the frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/auth/auth-guard.service.ts
  frontend/src/app/auth/auth.config.ts
  frontend/src/app/auth/auth.service.ts
  frontend/src/app/callback/callback.component.ts
  frontend/src/app/core/env.config.ts
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/footer/footer.component.html
  frontend/src/app/footer/footer.component.ts
  frontend/src/app/header/header.component.html
  frontend/src/app/header/header.component.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/material.module.ts
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/models/User.ts
  frontend/src/app/new-claim/new-claim.component.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.ts
  frontend/src/styles.scss
  frontend/src/tsconfig.spec.json
  frontend/tsconfig.json
Owners: @ej3076, @sloan-seamus

finish initial unf*ck of the frontend (#46)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/auth/auth-guard.service.ts
  frontend/src/app/auth/auth.config.ts
  frontend/src/app/auth/auth.service.ts
  frontend/src/app/callback/callback.component.ts
  frontend/src/app/core/env.config.ts
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/footer/footer.component.html
  frontend/src/app/footer/footer.component.ts
  frontend/src/app/header/header.component.html
  frontend/src/app/header/header.component.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/material.module.ts
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/models/User.ts
  frontend/src/app/new-claim/new-claim.component.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.ts
  frontend/src/styles.scss
  frontend/src/tsconfig.spec.json
  frontend/tsconfig.json
Owners: @ej3076, @sloan-seamus

fix form boundary error
  frontend/src/app/middleware/middleware.service.ts
Owners: @ej3076, @sloan-seamus

View Claims changes
  frontend/src/app/app.module.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.scss
  frontend/src/app/view-claims/view-claims.component.ts
  frontend/src/assets/logos/allstate-logo.jpg
  frontend/src/assets/logos/dmv-logo.svg
  frontend/src/assets/logos/ford-logo.png
  frontend/src/assets/logos/home-logo.png
  frontend/src/styles.scss
  package-lock.json
  package.json
Owners: @ej3076, @sloan-seamus, @dbartalino, @dsifford

start working on diagrams
  .editorconfig
  .gitignore
  docs/Makefile
  docs/diagrams/arch.uml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

update diagrams
  .gitignore
  docker-compose.yml
  docs/Makefile
  docs/README.md
  docs/bin/arch.png
  docs/diagrams/arch.uml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Add file downloads to edit claim page, results are logged in console
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
Owners: @ej3076, @sloan-seamus

Revert unecessary import reorder
  frontend/src/app/middleware/middleware.service.ts
Owners: @ej3076, @sloan-seamus

File Downloads (#48)
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
Owners: @ej3076, @sloan-seamus

fix jabroni code
  frontend/src/app/edit-claim/edit-claim.component.ts
Owners: @ej3076, @sloan-seamus

Add file deletes
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/styles.scss
Owners: @ej3076, @sloan-seamus

formatting changes only
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
  middleware/routes/claims.js
Owners: @ej3076, @sloan-seamus, @dbartalino

formatting changes only
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
  middleware/routes/claims.js
Owners: @ej3076, @sloan-seamus, @dbartalino

fix get file endpoint
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
  middleware/lib/claim-client.js
  middleware/lib/utils/s3.js
  middleware/routes/claims.js
Owners: @ej3076, @sloan-seamus, @dbartalino

rename deleteFile to archiveFile
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
Owners: @ej3076, @sloan-seamus

verbage change for consistency
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.ts
Owners: @ej3076, @sloan-seamus

fix get file endpoint (#49)
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
  middleware/lib/claim-client.js
  middleware/lib/utils/s3.js
  middleware/routes/claims.js
Owners: @ej3076, @sloan-seamus, @dbartalino

View Claims now shown in list view
  frontend/src/app/app.module.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.scss
  frontend/src/app/home/home.component.spec.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.scss
  frontend/src/app/view-claims/view-claims.component.spec.ts
  frontend/src/app/view-claims/view-claims.component.ts
  frontend/src/styles.scss
Owners: @ej3076, @sloan-seamus

enforce prettier formatting before commits
  .prettierignore
  docker-compose.network.prod.yml
  docker-compose.yml
  middleware/package-lock.json
  middleware/package.json
  package-lock.json
  package.json
  processors/package-lock.json
  processors/package.json
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

add data flow diagram
  docs/Makefile
  docs/README.md
  docs/bin/dfd.png
  docs/diagrams/dfd.dot
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

enforce prettier formatting before commits (#51)
  .prettierignore
  docker-compose.network.prod.yml
  docker-compose.yml
  middleware/package-lock.json
  middleware/package.json
  package-lock.json
  package.json
  processors/package-lock.json
  processors/package.json
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Add docs folder with diagrams (#52)
  .editorconfig
  docker-compose.yml
  docs/Makefile
  docs/README.md
  docs/bin/arch.png
  docs/bin/dfd.png
  docs/diagrams/arch.uml
  docs/diagrams/dfd.dot
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Improve spacing, show and hide some elements based on if editing or not
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/styles.scss
Owners: @ej3076, @sloan-seamus

use angular parser for html files
  .prettierrc.toml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

revert useless change
  .prettierrc.toml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

mend
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.ts
Owners: @ej3076, @sloan-seamus

View Claims changes (#47)
  frontend/src/app/app.module.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.scss
  frontend/src/app/home/home.component.spec.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.scss
  frontend/src/app/view-claims/view-claims.component.spec.ts
  frontend/src/app/view-claims/view-claims.component.ts
  frontend/src/assets/logos/allstate-logo.jpg
  frontend/src/assets/logos/dmv-logo.svg
  frontend/src/assets/logos/ford-logo.png
  frontend/src/assets/logos/home-logo.png
  frontend/src/styles.scss
Owners: @ej3076, @sloan-seamus

Files: Archive & Restore (#50)
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/styles.scss
Owners: @ej3076, @sloan-seamus

Added endpoint for renaming files
  middleware/lib/utils/s3.js
  middleware/routes/claims.js
Owners: @dbartalino

Cleaning UI Mess
  docs/bin/usecase.png
  docs/diagrams/usecase.uml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Fixed up the New Claims page Need to add more fields into the blockchain/middleware request (ACV) Year now checks to make sure year is numeric and 4 digits
  docs/bin/arch.png
  docs/bin/dfd.png
  docs/bin/usecase.png
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/new-claim/new-claim.component.html
  frontend/src/app/new-claim/new-claim.component.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/assets/Ford_Explorer.jpeg
  frontend/src/assets/Ford_GT.jpeg
  frontend/src/assets/Ford_Raptor.jpeg
  frontend/src/assets/Ford_Taurus.jpg
  frontend/src/assets/ford-logo.png
  frontend/src/assets/logos/allstate-logo.jpg
  frontend/src/assets/logos/dmv-logo.svg
  frontend/src/assets/logos/home-logo.png
  types/protos.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Fixed an issue with errors on new claim page
  frontend/src/app/new-claim/new-claim.component.html
  frontend/src/app/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

Cleaning UI Mess (#54)
  docs/bin/arch.png
  docs/bin/dfd.png
  docs/diagrams/usecase.uml
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/new-claim/new-claim.component.html
  frontend/src/app/new-claim/new-claim.component.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/assets/Ford_Explorer.jpeg
  frontend/src/assets/Ford_GT.jpeg
  frontend/src/assets/Ford_Raptor.jpeg
  frontend/src/assets/Ford_Taurus.jpg
  frontend/src/assets/ford-logo.png
  frontend/src/assets/logos/allstate-logo.jpg
  frontend/src/assets/logos/dmv-logo.svg
  frontend/src/assets/logos/home-logo.png
  types/protos.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Fixed issue with req.body
  middleware/routes/claims.js
Owners: @dbartalino

Fixing Derek's issue with logo
  frontend/src/app/header/header.component.html
Owners: @ej3076, @sloan-seamus

add delete claim functionality
  middleware/lib/claim-client.js
  middleware/routes/claims.js
  package-lock.json
  package.json
  processors/src/claim-processor/__tests__/state.test.js
  processors/src/claim-processor/handler.js
  processors/src/claim-processor/state.js
  protos/payload.proto
  types/protos.d.ts
  types/sawtooth.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

CODEOWNERS:

*            @dbartalino @dsifford @ej3076 @sloan-seamus
/frontend/   @ej3076 @sloan-seamus
/middleware/ @dbartalino
/processors/ @dsifford
