Repository ej3076/total-loss-process, changes with the owners that CODEOWNERS names for each.
All owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

CODEOWNERS:

*            @dbartalino @dsifford @ej3076 @sloan-seamus
/frontend/   @ej3076 @sloan-seamus
/middleware/ @dbartalino
/processors/ @dsifford

add readme (#83)
  README.md
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

blah
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.spec.ts
Owners: @ej3076, @sloan-seamus

blahblah
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.spec.ts
Owners: @ej3076, @sloan-seamus

Initial Unit Tests (#82)
  .circleci/config.yml
  frontend/insurance/package-lock.json
  frontend/insurance/package.json
  frontend/insurance/src/app/app.component.spec.ts
  frontend/insurance/src/app/app.module.ts
  frontend/insurance/src/app/core/components/callback/callback.component.spec.ts
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.spec.ts
  frontend/insurance/src/app/core/services/auth/auth-guard.service.spec.ts
  frontend/insurance/src/app/core/services/auth/auth.service.spec.ts
  frontend/insurance/src/app/core/services/middleware/middleware.service.spec.ts
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.spec.ts
  frontend/insurance/src/app/core/services/vin-info/vin-info.service.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.spec.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/shared/components/files/files.component.spec.ts
  frontend/insurance/src/app/shared/components/files/files.component.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.spec.ts
  frontend/insurance/src/karma.conf.js
  frontend/insurance/src/tsconfig.spec.json
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Some temp fixes for unit tests
  frontend/insurance/src/app/core/services/auth/auth.service.spec.ts
Owners: @ej3076, @sloan-seamus

Error schemas
  frontend/insurance/src/app/modules/view-claims/view-claims.component.spec.ts
Owners: @ej3076, @sloan-seamus

Unit Test Temporary Fixes (#84)
  frontend/insurance/src/app/core/services/auth/auth.service.spec.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.spec.ts
Owners: @ej3076, @sloan-seamus

another 'fix'
  frontend/insurance/src/app/core/components/callback/callback.component.spec.ts
Owners: @ej3076, @sloan-seamus

Remove debug flag from test run
  frontend/insurance/package.json
Owners: @ej3076, @sloan-seamus

Some fixes (#85)
  frontend/insurance/package.json
  frontend/insurance/src/app/core/components/callback/callback.component.spec.ts
Owners: @ej3076, @sloan-seamus

Make it allstate viewer to match reqs
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
Owners: @ej3076, @sloan-seamus

Cleanup
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  middleware/routes/claims.js
Owners: @ej3076, @sloan-seamus, @dbartalino

More cleanup
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
Owners: @ej3076, @sloan-seamus

Fix unit test
  frontend/insurance/src/app/app.component.spec.ts
Owners: @ej3076, @sloan-seamus
