Repository ej3076/total-loss-process, changes with the owners that CODEOWNERS names for each.
All owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

CODEOWNERS:

*            @dbartalino @dsifford @ej3076 @sloan-seamus
/frontend/   @ej3076 @sloan-seamus
/middleware/ @dbartalino
/processors/ @dsifford

misc adjustments to the processor + 1 important bugfix (#23)
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  processor/Dockerfile
  processor/package-lock.json
  processor/package.json
  processors/Dockerfile
  processors/package-lock.json
  processors/package.json
  processors/src/claim-processor/constants.js
  processors/src/claim-processor/handler.js
  processors/src/claim-processor/index.js
  processors/src/claim-processor/payload.js
  processors/src/claim-processor/state.js
  processors/src/family.js
  processors/src/logger.js
  processors/src/proto.js
  processors/tsconfig.json
  types/sawtooth.d.ts
  types/tsconfig.json
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Robustify validation
  frontend/package-lock.json
  frontend/src/app/new-claim/new-claim.component.html
  frontend/src/app/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

Prototype #1 Cleanup: form validation, route guard additions (#22)
  frontend/package-lock.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.ts
  frontend/src/app/auth/auth-guard.service.ts
  frontend/src/app/auth/auth.service.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.ts
  frontend/src/app/new-claim/new-claim.component.html
  frontend/src/app/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

Remove unused import
  frontend/src/app/auth/auth-guard.service.ts
Owners: @ej3076, @sloan-seamus

Redirect to view claims on success, otherwise log error
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/new-claim/new-claim.component.ts
  frontend/src/app/view-claims/view-claims.component.ts
Owners: @ej3076, @sloan-seamus

Added endpoints for editing claim and searching claim by VIN, rearranged endpoints to match claim-client.js
  middleware/app.js
  middleware/lib/claim-client.js
Owners: @dbartalino

finish initial tests for processors directory + add circleci
  .circleci/config.yml
  package-lock.json
  package.json
  processors/package-lock.json
  processors/package.json
  processors/src/claim-processor/__tests__/payload.test.js
  processors/src/claim-processor/__tests__/state.test.js
  processors/src/claim-processor/payload.js
  processors/src/claim-processor/state.js
  processors/src/logger.js
  types/globals.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Added endpoints for editing claim and searching claim by VIN, rearranged endpoints to match claim-client.js (#25)
  middleware/app.js
  middleware/lib/claim-client.js
Owners: @dbartalino

Current UI status: saved. Single-handedly saved the project.
  frontend/src/app/view-claims/view-claims.component.html
Owners: @ej3076, @sloan-seamus

Redirect to view claims on success, otherwise log error (#24)
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/new-claim/new-claim.component.ts
  frontend/src/app/view-claims/view-claims.component.ts
Owners: @ej3076, @sloan-seamus

finish initial tests for processors directory + add circleci (#26)
  .circleci/config.yml
  package-lock.json
  package.json
  processors/package-lock.json
  processors/package.json
  processors/src/claim-processor/__tests__/payload.test.js
  processors/src/claim-processor/__tests__/state.test.js
  processors/src/claim-processor/payload.js
  processors/src/claim-processor/state.js
  processors/src/logger.js
  types/globals.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Revert "finish initial tests for processors directory + add circleci (#26)"
  .circleci/config.yml
  package-lock.json
  package.json
  processors/package-lock.json
  processors/package.json
  processors/src/claim-processor/__tests__/payload.test.js
  processors/src/claim-processor/__tests__/state.test.js
  processors/src/claim-processor/payload.js
  processors/src/claim-processor/state.js
  processors/src/logger.js
  types/globals.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Redirect to view claims on success, otherwise log error
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/new-claim/new-claim.component.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.ts
Owners: @ej3076, @sloan-seamus

finish initial tests
  middleware/lib/__mocks__/api.js
  middleware/lib/__tests__/claim-client.test.js
  middleware/lib/claim-client.js
  middleware/lib/utils/__tests__/client.test.js
  middleware/lib/utils/__tests__/family.test.js
  middleware/lib/utils/client.js
  middleware/lib/utils/family.js
  middleware/package-lock.json
  middleware/package.json
  package.json
  processors/src/__tests__/family.test.js
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

finish initial tests for processors directory + add circleci (#29)
  .circleci/config.yml
  middleware/lib/__mocks__/api.js
  middleware/lib/__tests__/claim-client.test.js
  middleware/lib/claim-client.js
  middleware/lib/utils/__tests__/client.test.js
  middleware/lib/utils/__tests__/family.test.js
  middleware/lib/utils/client.js
  middleware/lib/utils/family.js
  middleware/package-lock.json
  middleware/package.json
  package-lock.json
  package.json
  processors/package-lock.json
  processors/package.json
  processors/src/__tests__/family.test.js
  processors/src/claim-processor/__tests__/payload.test.js
  processors/src/claim-processor/__tests__/state.test.js
  processors/src/claim-processor/payload.js
  processors/src/claim-processor/state.js
  processors/src/logger.js
  types/globals.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Rewrite sign in, show error and no claims messaging on frontend
  frontend/src/app/app.component.ts
  frontend/src/app/auth/auth-guard.service.ts
  frontend/src/app/auth/auth.config.ts
  frontend/src/app/auth/auth.service.ts
  frontend/src/app/callback/callback.component.html
  frontend/src/app/callback/callback.component.ts
  frontend/src/app/core/env.config.ts
  frontend/src/app/header/header.component.html
  frontend/src/app/header/header.component.scss
  frontend/src/app/header/header.component.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.ts
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.ts
Owners: @ej3076, @sloan-seamus

Rewrite sign in, show error and no claims messaging on frontend (#31)
  frontend/src/app/app.component.ts
  frontend/src/app/auth/auth-guard.service.ts
  frontend/src/app/auth/auth.config.ts
  frontend/src/app/auth/auth.service.ts
  frontend/src/app/callback/callback.component.html
  frontend/src/app/callback/callback.component.ts
  frontend/src/app/core/env.config.ts
  frontend/src/app/header/header.component.html
  frontend/src/app/header/header.component.scss
  frontend/src/app/header/header.component.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.ts
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.ts
Owners: @ej3076, @sloan-seamus

upgrade middleware dependencies
  middleware/package-lock.json
  middleware/package.json
Owners: @dbartalino

Add test status badge to README.md
  README.md
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

fix bugs
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.ts
Owners: @ej3076, @sloan-seamus

try fixing circleci test results output
  .circleci/config.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

add reference to types in frontend tsconfig.spec.json
  frontend/package-lock.json
  frontend/src/tsconfig.spec.json
  package-lock.json
Owners: @ej3076, @sloan-seamus, @dbartalino, @dsifford

add .manifold.yml
  .gitignore
  .manifold.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

upgrade dependencies
  middleware/package-lock.json
  middleware/package.json
  package-lock.json
  package.json
  processors/package-lock.json
  processors/package.json
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

finish initial file integration with s3 and the blockchain
  docker-compose.yml
  middleware/app.js
  middleware/lib/claim-client.js
  middleware/lib/utils/s3.js
  middleware/package-lock.json
  middleware/package.json
  processors/src/claim-processor/handler.js
  protos/claim.proto
  protos/file.proto
  types/protos.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

fix failed tests
  middleware/lib/__tests__/claim-client.test.js
  middleware/lib/claim-client.js
Owners: @dbartalino

adjust circle.yml
  .circleci/config.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

finish initial file integration with s3 and the blockchain (#32)
  docker-compose.yml
  middleware/app.js
  middleware/lib/__tests__/claim-client.test.js
  middleware/lib/claim-client.js
  middleware/lib/utils/s3.js
  middleware/package-lock.json
  middleware/package.json
  processors/src/claim-processor/handler.js
  protos/claim.proto
  protos/file.proto
  types/protos.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

fix compose file
  docker-compose.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Create single claim view with getClaim and addFiles support.
  frontend/package-lock.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.scss
  frontend/src/app/edit-claim/edit-claim.component.spec.ts
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/header/header.component.html
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/tsconfig.app.json
Owners: @ej3076, @sloan-seamus

split routes into multiple files + make custom auth middleware
  middleware/app.js
  middleware/globals.d.ts
  middleware/lib/middleware/auth.js
  middleware/package-lock.json
  middleware/package.json
  middleware/routes/claims.js
Owners: @dbartalino

fix typo in route
  middleware/routes/claims.js
Owners: @dbartalino

split routes into multiple files + make custom auth middleware (#34)
  middleware/app.js
  middleware/globals.d.ts
  middleware/lib/middleware/auth.js
  middleware/package-lock.json
  middleware/package.json
  middleware/routes/claims.js
Owners: @dbartalino

add trailing slash to issuer in auth middleware
  middleware/lib/middleware/auth.js
Owners: @dbartalino

add ssl environment variable for jake
  docker-compose.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Minor fixes
  frontend/src/app/app-routing.module.ts
  frontend/src/app/header/header.component.html
  frontend/src/app/home/home.component.html
  frontend/src/app/middleware/middleware.service.ts
Owners: @ej3076, @sloan-seamus

Create single claim view with getClaim and addFiles support.
  frontend/package-lock.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.scss
  frontend/src/app/edit-claim/edit-claim.component.spec.ts
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/header/header.component.html
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/tsconfig.app.json
Owners: @ej3076, @sloan-seamus

Minor fixes
  frontend/src/app/app-routing.module.ts
  frontend/src/app/header/header.component.html
  frontend/src/app/home/home.component.html
  frontend/src/app/middleware/middleware.service.ts
Owners: @ej3076, @sloan-seamus

remove unnecessary env variables
  docker-compose.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Add redirect on successful claim creation, along with a log on redirect (if failed or successful) - also make file uploads keyed
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/lock-solid.svg
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/new-claim/new-claim.component.ts
  frontend/src/assets/icons/lock-open-solid.svg
  frontend/src/index.html
Owners: @ej3076, @sloan-seamus
