Repository ej3076/total-loss-process, changes with the owners that CODEOWNERS names for each.
All owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

CODEOWNERS:

*            @dbartalino @dsifford @ej3076 @sloan-seamus
/frontend/   @ej3076 @sloan-seamus
/middleware/ @dbartalino
/processors/ @dsifford

(WIP) Create Single Claim View (#33)
  frontend/package-lock.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.scss
  frontend/src/app/edit-claim/edit-claim.component.spec.ts
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/edit-claim/lock-solid.svg
  frontend/src/app/header/header.component.html
  frontend/src/app/home/home.component.html
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/new-claim/new-claim.component.ts
  frontend/src/assets/icons/lock-open-solid.svg
  frontend/src/index.html
  frontend/src/tsconfig.app.json
Owners: @ej3076, @sloan-seamus

Allow user to go into edit claim page for all available claims
  frontend/src/app/app-routing.module.ts
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/view-claims/view-claims.component.html
Owners: @ej3076, @sloan-seamus

change payload action "0" to error state
  protos/payload.proto
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Add link to homepage in header, successful redirect after creation of claim
  frontend/src/app/header/header.component.html
  frontend/src/app/middleware/middleware.service.ts
Owners: @ej3076, @sloan-seamus

begin working on improving atomicity of transactions
  processors/src/claim-processor/__tests__/payload.test.js
  processors/src/claim-processor/handler.js
  processors/src/claim-processor/payload.js
  protos/file.proto
  types/protos.d.ts
Owners: @dsifford, @dbartalino, @ej3076, @sloan-seamus

finish work on making transactions atomic
  middleware/lib/__tests__/claim-client.test.js
  middleware/lib/claim-client.js
  middleware/lib/utils/s3.js
Owners: @dbartalino

Misc updates to transaction processor/client (#36)
  middleware/lib/__tests__/claim-client.test.js
  middleware/lib/claim-client.js
  middleware/lib/utils/s3.js
  processors/src/claim-processor/__tests__/payload.test.js
  processors/src/claim-processor/handler.js
  processors/src/claim-processor/payload.js
  protos/file.proto
  protos/payload.proto
  types/protos.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

add mock aws service for development
  .editorconfig
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  etc/localstack/init.d/init-s3.sh
  etc/sawtooth/cli.toml
  middleware/lib/utils/s3.js
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Revamped the View Claims page. Claims are now being sorted by their status.
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.ts
Owners: @ej3076, @sloan-seamus

Finished the claims sorting on View Claims. Fixed an issue with footer not sticking to bottom when more than 6 claims
  frontend/src/app/footer/footer.component.scss
  frontend/src/app/header/header.component.html
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.ts
  frontend/src/styles.scss
Owners: @ej3076, @sloan-seamus

add mock aws service for development (#37)
  .editorconfig
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  etc/localstack/init.d/init-s3.sh
  etc/sawtooth/cli.toml
  middleware/lib/utils/s3.js
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

upgrade dependencies
  middleware/package-lock.json
  middleware/package.json
  processors/package-lock.json
  processors/package.json
Owners: @dbartalino, @dsifford

Draft for add claims endpoint
  middleware/lib/utils/s3.js
  middleware/routes/claims.js
Owners: @dbartalino

small fixes from last merge
  middleware/lib/utils/s3.js
  middleware/routes/claims.js
Owners: @dbartalino

add multer to middleware for file processing
  middleware/lib/claim-client.js
  middleware/package-lock.json
  middleware/package.json
  middleware/routes/claims.js
Owners: @dbartalino

add multer to middleware for file processing (#40)
  middleware/lib/claim-client.js
  middleware/package-lock.json
  middleware/package.json
  middleware/routes/claims.js
Owners: @dbartalino

fix multer key
  middleware/routes/claims.js
Owners: @dbartalino

fix broken stuff in s3 utils
  middleware/lib/utils/s3.js
Owners: @dbartalino

remove outdated s3 function from claim-client
  middleware/lib/claim-client.js
Owners: @dbartalino

change localstack temp path to inside project
  .gitignore
  docker-compose.override.yml
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

upgrade dependencies
  middleware/package-lock.json
  middleware/package.json
  processors/package-lock.json
  processors/package.json
Owners: @dbartalino, @dsifford

Misc fixes to s3 stuff (#41)
  .gitignore
  docker-compose.override.yml
  middleware/lib/claim-client.js
  middleware/lib/utils/s3.js
  middleware/package-lock.json
  middleware/package.json
  middleware/routes/claims.js
  processors/package-lock.json
  processors/package.json
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Clicking on a claim in View Claims will take you to Edit Claims page Creating a new claim in New Claim will redirect to View Claims instead of Edit Page --Until loading issue is resolved--
  frontend/src/app/app.module.ts
  frontend/src/app/footer/footer.component.html
  frontend/src/app/header/header.component.html
  frontend/src/app/home/home.component.html
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.scss
  frontend/src/styles.scss
Owners: @ej3076, @sloan-seamus

Added endpoint for returning a single file from S3
  .vscode/settings.json
  middleware/routes/claims.js
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Functionality improvements
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.scss
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.ts
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/new-claim/new-claim.component.ts
  frontend/src/styles.scss
Owners: @ej3076, @sloan-seamus

Make single claim view page
  frontend/src/app/app-routing.module.ts
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.scss
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/styles.scss
Owners: @ej3076, @sloan-seamus

Cleanup
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
Owners: @ej3076, @sloan-seamus

fix build error due to private member access outside of classes
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/view-claims/view-claims.component.ts
Owners: @ej3076, @sloan-seamus

Home Page Cleanup
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/footer/footer.component.html
  frontend/src/app/header/header.component.html
  frontend/src/app/header/header.component.scss
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.scss
  frontend/src/app/home/home.component.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.ts
  frontend/src/assets/Ford_Explorer.jpeg
  frontend/src/assets/Ford_GT.jpeg
  frontend/src/assets/Ford_Raptor.jpeg
  frontend/src/assets/Ford_Taurus.jpg
  frontend/src/styles.scss
Owners: @ej3076, @sloan-seamus

Home Page Cleanup
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/footer/footer.component.html
  frontend/src/app/header/header.component.html
  frontend/src/app/header/header.component.scss
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.scss
  frontend/src/app/home/home.component.ts
  frontend/src/app/view-claims/view-claims.component.html
  frontend/src/app/view-claims/view-claims.component.ts
  frontend/src/assets/Ford_Explorer.jpeg
  frontend/src/assets/Ford_GT.jpeg
  frontend/src/assets/Ford_Raptor.jpeg
  frontend/src/assets/Ford_Taurus.jpg
  frontend/src/styles.scss
Owners: @ej3076, @sloan-seamus

Updated routes based on feedback.
  middleware/lib/claim-client.js
  middleware/routes/claims.js
Owners: @dbartalino

Delete settings.json
  .vscode/settings.json
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Updated code based on feedback. Added endpoints to unarchive and archive files.
  middleware/lib/claim-client.js
  middleware/routes/claims.js
Owners: @dbartalino

Updated endpoints from team feedback.
  middleware/lib/claim-client.js
  middleware/routes/claims.js
Owners: @dbartalino

Added endpoint for returning a single file from S3 (#43)
  middleware/lib/claim-client.js
  middleware/routes/claims.js
Owners: @dbartalino

fixes from code review
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.scss
  frontend/src/app/middleware/middleware.service.ts
Owners: @ej3076, @sloan-seamus

get production and production network docker orchestrations set up
  .dockerignore
  .editorconfig
  docker-compose.network.prod.yml
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  etc/nginx/conf.d/default.conf
  frontend/Dockerfile
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  middleware/.dockerignore
  middleware/Dockerfile
  middleware/lib/api.js
  package.json
  processors/Dockerfile
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Adjust protos.d.ts to better match protobufs
  middleware/lib/claim-client.js
  processors/src/claim-processor/payload.js
  types/protos.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

update dependencies
  middleware/package-lock.json
  middleware/package.json
  processors/package-lock.json
  processors/package.json
Owners: @dbartalino, @dsifford

finish putting together production and production multi-node builds together (#45)
  .dockerignore
  .editorconfig
  docker-compose.network.prod.yml
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  etc/nginx/conf.d/default.conf
  frontend/Dockerfile
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  middleware/.dockerignore
  middleware/Dockerfile
  middleware/lib/api.js
  middleware/lib/claim-client.js
  middleware/package-lock.json
  middleware/package.json
  package.json
  processors/Dockerfile
  processors/package-lock.json
  processors/package.json
  processors/src/claim-processor/payload.js
  types/protos.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus
