Repository ej3076/total-loss-process, changes with the owners that CODEOWNERS names for each.
All owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

add delete claim functionality (#55)
  middleware/lib/claim-client.js
  middleware/routes/claims.js
  package-lock.json
  package.json
  processors/src/claim-processor/__tests__/state.test.js
  processors/src/claim-processor/handler.js
  processors/src/claim-processor/state.js
  protos/payload.proto
  types/protos.d.ts
  types/sawtooth.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Added endpoint for renaming files (#53)
  middleware/lib/utils/s3.js
  middleware/routes/claims.js
Owners: @dbartalino

Restructure edit claim - move into module, light refactor and removal of clutter
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/modules/alyle/alyle.module.ts
  frontend/src/app/modules/edit-claim/edit-claim-routing.module.ts
  frontend/src/app/modules/edit-claim/edit-claim.component.html
  frontend/src/app/modules/edit-claim/edit-claim.component.scss
  frontend/src/app/modules/edit-claim/edit-claim.component.spec.ts
  frontend/src/app/modules/edit-claim/edit-claim.component.ts
  frontend/src/app/modules/edit-claim/edit-claim.module.ts
  frontend/src/app/modules/edit-claim/edit-files/edit-files.component.html
  frontend/src/app/modules/edit-claim/edit-files/edit-files.component.scss
  frontend/src/app/modules/edit-claim/edit-files/edit-files.component.spec.ts
  frontend/src/app/modules/edit-claim/edit-files/edit-files.component.ts
  frontend/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.html
  frontend/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.scss
  frontend/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.spec.ts
  frontend/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.ts
  frontend/src/app/view-claims/view-claims.component.html
Owners: @ej3076, @sloan-seamus

Delete old references to old edit-claim
  frontend/src/app/app.module.ts
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.scss
  frontend/src/app/edit-claim/edit-claim.component.spec.ts
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/edit-claim/lock-solid.svg
  frontend/src/app/modules/edit-claim/edit-claim-routing.module.ts
  frontend/src/app/modules/edit-claim/edit-claim.component.ts
  frontend/src/app/modules/edit-claim/edit-claim.module.ts
  frontend/src/app/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

fix api responses so that they only return after a transaction commits or fails
  middleware/lib/api.js
  middleware/lib/claim-client.js
  middleware/routes/claims.js
  types/sawtooth.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

fix failed tests
  middleware/lib/__mocks__/api.js
  middleware/lib/__tests__/claim-client.test.js
Owners: @dbartalino

Redesign Edit Claim - Mini Refactor (#56)
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/edit-claim/edit-claim.component.html
  frontend/src/app/edit-claim/edit-claim.component.ts
  frontend/src/app/middleware/middleware.service.ts
  frontend/src/app/modules/alyle/alyle.module.ts
  frontend/src/app/modules/edit-claim/edit-claim-routing.module.ts
  frontend/src/app/modules/edit-claim/edit-claim.component.html
  frontend/src/app/modules/edit-claim/edit-claim.component.scss
  frontend/src/app/modules/edit-claim/edit-claim.component.spec.ts
  frontend/src/app/modules/edit-claim/edit-claim.component.ts
  frontend/src/app/modules/edit-claim/edit-claim.module.ts
  frontend/src/app/modules/edit-claim/edit-files/edit-files.component.html
  frontend/src/app/modules/edit-claim/edit-files/edit-files.component.scss
  frontend/src/app/modules/edit-claim/edit-files/edit-files.component.spec.ts
  frontend/src/app/modules/edit-claim/edit-files/edit-files.component.ts
  frontend/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.html
  frontend/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.scss
  frontend/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.spec.ts
  frontend/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.ts
  frontend/src/app/new-claim/new-claim.component.ts
  frontend/src/app/view-claims/view-claims.component.html
  middleware/routes/claims.js
Owners: @ej3076, @sloan-seamus, @dbartalino

fix api responses so that they only return after a transaction commits or fails (#57)
  middleware/lib/__mocks__/api.js
  middleware/lib/__tests__/claim-client.test.js
  middleware/lib/api.js
  middleware/lib/claim-client.js
  types/sawtooth.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

init app using create-react-app
  frontend/viewer/.gitignore
  frontend/viewer/README.md
  frontend/viewer/package-lock.json
  frontend/viewer/package.json
  frontend/viewer/public/favicon.ico
  frontend/viewer/public/index.html
  frontend/viewer/public/manifest.json
  frontend/viewer/src/App.css
  frontend/viewer/src/App.test.tsx
  frontend/viewer/src/App.tsx
  frontend/viewer/src/index.css
  frontend/viewer/src/index.tsx
  frontend/viewer/src/logo.svg
  frontend/viewer/src/react-app-env.d.ts
  frontend/viewer/src/serviceWorker.ts
  frontend/viewer/tsconfig.json
Owners: @ej3076, @sloan-seamus

Redesign edit claim - other fixup items for header and footer
  frontend/insurance/src/app/app-routing.module.ts
  frontend/insurance/src/app/app.component.html
  frontend/insurance/src/app/callback/callback.component.ts
  frontend/insurance/src/app/middleware/middleware.service.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/modules/edit-claim/edit-files/edit-files.component.html
  frontend/insurance/src/app/modules/edit-claim/edit-files/edit-files.component.scss
  frontend/insurance/src/app/modules/edit-claim/edit-files/edit-files.component.ts
  frontend/insurance/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.html
  frontend/insurance/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.ts
  frontend/insurance/src/index.html
  frontend/insurance/src/styles.scss
  frontend/insurance/src/tsconfig.app.json
  frontend/insurance/src/tsconfig.spec.json
  frontend/insurance/tsconfig.json
Owners: @ej3076, @sloan-seamus

finish initial viewer app
  .gitignore
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/insurance/Dockerfile
  frontend/insurance/src/tsconfig.app.json
  frontend/insurance/tsconfig.json
  frontend/viewer/.gitignore
  frontend/viewer/.stylelintrc.yml
  frontend/viewer/Dockerfile
  frontend/viewer/package-lock.json
  frontend/viewer/package.json
  frontend/viewer/public/index.html
  frontend/viewer/public/manifest.json
  frontend/viewer/src/App.css
  frontend/viewer/src/App.test.tsx
  frontend/viewer/src/App.tsx
  frontend/viewer/src/components/container/container.module.scss
  frontend/viewer/src/components/container/index.tsx
  frontend/viewer/src/components/lazy-page/index.tsx
  frontend/viewer/src/components/link-button/index.tsx
  frontend/viewer/src/components/main/index.tsx
  frontend/viewer/src/components/main/main.module.scss
  frontend/viewer/src/components/navbar/index.tsx
  frontend/viewer/src/index.css
  frontend/viewer/src/index.scss
  frontend/viewer/src/index.tsx
  frontend/viewer/src/logo.svg
  frontend/viewer/src/pages/claims/claims.module.scss
  frontend/viewer/src/pages/claims/index.tsx
  frontend/viewer/src/pages/feed/feed.module.scss
  frontend/viewer/src/pages/feed/index.tsx
  frontend/viewer/src/pages/home/home.module.scss
  frontend/viewer/src/pages/home/index.tsx
  frontend/viewer/src/pages/single-claim/index.tsx
  frontend/viewer/src/pages/single-claim/single-claim.module.scss
  frontend/viewer/src/utils/constants.ts
  types/protos.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

update protos
  middleware/lib/__tests__/claim-client.test.js
  middleware/lib/utils/proto.js
  package-lock.json
  package.json
  processors/src/claim-processor/__tests__/payload.test.js
  processors/src/claim-processor/__tests__/state.test.js
  processors/src/proto.js
  protos/claim.proto
  protos/file.proto
  protos/insurer.proto
  protos/payload.proto
  protos/vehicle.proto
  types/protos.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

update protos (#60)
  middleware/lib/__tests__/claim-client.test.js
  middleware/lib/utils/proto.js
  package-lock.json
  package.json
  processors/src/claim-processor/__tests__/payload.test.js
  processors/src/claim-processor/__tests__/state.test.js
  processors/src/proto.js
  protos/claim.proto
  protos/file.proto
  protos/insurer.proto
  protos/payload.proto
  protos/vehicle.proto
  types/protos.d.ts
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

update dependencies
  frontend/viewer/package-lock.json
  frontend/viewer/package.json
Owners: @ej3076, @sloan-seamus

Implement initial "viewer" frontend app (#59)
  .gitignore
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/insurance/Dockerfile
  frontend/insurance/src/tsconfig.app.json
  frontend/viewer/.stylelintrc.yml
  frontend/viewer/Dockerfile
  frontend/viewer/README.md
  frontend/viewer/package-lock.json
  frontend/viewer/package.json
  frontend/viewer/public/favicon.ico
  frontend/viewer/public/index.html
  frontend/viewer/public/manifest.json
  frontend/viewer/src/components/container/container.module.scss
  frontend/viewer/src/components/container/index.tsx
  frontend/viewer/src/components/lazy-page/index.tsx
  frontend/viewer/src/components/link-button/index.tsx
  frontend/viewer/src/components/main/index.tsx
  frontend/viewer/src/components/main/main.module.scss
  frontend/viewer/src/components/navbar/index.tsx
  frontend/viewer/src/index.scss
  frontend/viewer/src/index.tsx
  frontend/viewer/src/pages/claims/claims.module.scss
  frontend/viewer/src/pages/claims/index.tsx
  frontend/viewer/src/pages/feed/feed.module.scss
  frontend/viewer/src/pages/feed/index.tsx
  frontend/viewer/src/pages/home/home.module.scss
  frontend/viewer/src/pages/home/index.tsx
  frontend/viewer/src/pages/single-claim/index.tsx
  frontend/viewer/src/pages/single-claim/single-claim.module.scss
  frontend/viewer/src/react-app-env.d.ts
  frontend/viewer/src/serviceWorker.ts
  frontend/viewer/src/utils/constants.ts
  frontend/viewer/tsconfig.json
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

fix build errors in insurance frontend due to proto changes
  frontend/insurance/src/app/modules/edit-claim/edit-vehicle/edit-vehicle.component.ts
Owners: @ej3076, @sloan-seamus

fix broken stuff in viewer frontend related to new protos
  frontend/viewer/src/pages/claims/index.tsx
  frontend/viewer/src/pages/single-claim/index.tsx
  frontend/viewer/src/utils/constants.ts
Owners: @ej3076, @sloan-seamus

misc adjustments for proto changes and other misc stuff
  .circleci/config.yml
  docker-compose.override.yml
  frontend/viewer/tsconfig.json
  middleware/Dockerfile
  middleware/lib/__tests__/claim-client.test.js
  middleware/lib/claim-client.js
  middleware/lib/utils/__tests__/family.test.js
  middleware/lib/utils/family.js
  middleware/lib/utils/s3.js
  middleware/package-lock.json
  middleware/package.json
  package.json
  processors/Dockerfile
  processors/package.json
  processors/src/claim-processor/__tests__/payload.test.js
  processors/src/claim-processor/constants.js
  processors/src/claim-processor/handler.js
  processors/src/claim-processor/payload.js
  processors/src/claim-processor/state.js
  processors/src/proto.js
  protos/payload.proto
  types/protos.d.ts
  types/tsconfig.json
  utils/__tests__/family.test.js
  utils/family.js
  utils/logger.js
  utils/package-lock.json
  utils/package.json
  utils/proto.js
  utils/tsconfig.json
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

misc adjustments for proto changes and other misc stuff (#61)
  .circleci/config.yml
  docker-compose.override.yml
  frontend/viewer/tsconfig.json
  middleware/Dockerfile
  middleware/lib/__tests__/claim-client.test.js
  middleware/lib/claim-client.js
  middleware/lib/utils/__tests__/family.test.js
  middleware/lib/utils/family.js
  middleware/lib/utils/s3.js
  middleware/package-lock.json
  middleware/package.json
  package.json
  processors/Dockerfile
  processors/package.json
  processors/src/claim-processor/__tests__/payload.test.js
  processors/src/claim-processor/constants.js
  processors/src/claim-processor/handler.js
  processors/src/claim-processor/payload.js
  processors/src/claim-processor/state.js
  processors/src/proto.js
  protos/payload.proto
  types/protos.d.ts
  types/tsconfig.json
  utils/__tests__/family.test.js
  utils/family.js
  utils/logger.js
  utils/package-lock.json
  utils/package.json
  utils/proto.js
  utils/tsconfig.json
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

misc viewer app updates
  frontend/viewer/src/pages/feed/feed.module.scss
  frontend/viewer/src/pages/feed/index.tsx
  frontend/viewer/src/pages/single-claim/index.tsx
  frontend/viewer/src/utils/api.ts
Owners: @ej3076, @sloan-seamus

make all POSTs to endpoints creating or modifying blockchain state return the updated value
  middleware/lib/claim-client.js
Owners: @dbartalino

fix refresh issue with auth0
  frontend/insurance/src/app/app-routing.module.ts
  frontend/insurance/src/app/app.component.ts
  frontend/insurance/src/app/auth/auth-guard.service.ts
  frontend/insurance/src/app/auth/auth.service.ts
  frontend/insurance/src/app/header/header.component.html
  frontend/insurance/src/app/middleware/middleware.service.ts
  frontend/insurance/src/app/view-claims/view-claims.component.ts
Owners: @ej3076, @sloan-seamus

fix seamus's jabroni errors
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/modules/edit-claim/edit-files/edit-files.component.html
  frontend/insurance/src/app/view-claims/view-claims.component.html
Owners: @ej3076, @sloan-seamus

fix refresh issue with auth0 (#62)
  frontend/insurance/src/app/app-routing.module.ts
  frontend/insurance/src/app/app.component.ts
  frontend/insurance/src/app/auth/auth-guard.service.ts
  frontend/insurance/src/app/auth/auth.service.ts
  frontend/insurance/src/app/header/header.component.html
  frontend/insurance/src/app/middleware/middleware.service.ts
  frontend/insurance/src/app/modules/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/modules/edit-claim/edit-files/edit-files.component.html
  frontend/insurance/src/app/view-claims/view-claims.component.html
  frontend/insurance/src/app/view-claims/view-claims.component.ts
Owners: @ej3076, @sloan-seamus

Express error handling
  middleware/app.js
  middleware/lib/claim-client.js
  middleware/routes/claims.js
  processors/src/claim-processor/handler.js
Owners: @dbartalino, @dsifford

fix multinode production network
  docker-compose.network.prod.yml
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  etc/nginx/conf.d/default.conf
  etc/sawtooth/cli.toml
  frontend/insurance/Dockerfile
  frontend/viewer/Dockerfile
  frontend/viewer/src/utils/constants.ts
  middleware/lib/api.js
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Added fileds to New Claim component
  frontend/insurance/package-lock.json
  frontend/insurance/package.json
  frontend/insurance/src/app/app.module.ts
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/modules/material/material.module.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/styles.scss
Owners: @ej3076, @sloan-seamus

Fix new claim, add edit claim component
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.ts
  frontend/insurance/src/app/core/services/middleware/middleware.service.ts
  frontend/insurance/src/app/modules/material/material.module.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.scss
  frontend/insurance/src/app/modules/view-claims/view-claims.component.spec.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
Owners: @ej3076, @sloan-seamus

Fix some things
  frontend/insurance/src/app/app-routing.module.ts
  frontend/insurance/src/app/app.module.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

Added form validation Submit button works as designed Changed GAP Insurance buttons to checkbox
  frontend/insurance/src/app/modules/material/material.module.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.scss
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
Owners: @ej3076, @sloan-seamus

add view claims button and table and expandable content
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/modules/home/home.component.html
  frontend/insurance/src/app/modules/material/material.module.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.scss
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/styles.scss
Owners: @ej3076, @sloan-seamus

Login button now changes to Log Out and functions as such.
  frontend/insurance/src/app/app.module.ts
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/new-claim/new-claim.component.html
  frontend/insurance/src/app/new-claim/new-claim.component.scss
  frontend/insurance/src/app/new-claim/new-claim.component.spec.ts
  frontend/insurance/src/app/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

fix multinode production network (#63)
  docker-compose.network.prod.yml
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  etc/nginx/conf.d/default.conf
  etc/sawtooth/cli.toml
  frontend/insurance/Dockerfile
  frontend/viewer/Dockerfile
  frontend/viewer/src/utils/constants.ts
  middleware/lib/api.js
Owners: @dbartalino, @dsifford, @ej3076, @sloan-seamus

Added fileds to New Claim component
  frontend/insurance/package-lock.json
  frontend/insurance/package.json
  frontend/insurance/src/app/app.module.ts
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/modules/material/material.module.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/styles.scss
Owners: @ej3076, @sloan-seamus

add view claims button and table and expandable content
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/modules/home/home.component.html
  frontend/insurance/src/app/modules/material/material.module.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.scss
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
  frontend/insurance/src/styles.scss
Owners: @ej3076, @sloan-seamus

Fix new claim, add edit claim component
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.ts
  frontend/insurance/src/app/core/services/middleware/middleware.service.ts
  frontend/insurance/src/app/modules/material/material.module.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.component.scss
  frontend/insurance/src/app/modules/view-claims/view-claims.component.spec.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.html
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.scss
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.spec.ts
  frontend/insurance/src/app/shared/components/edit-claim/edit-claim.component.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
Owners: @ej3076, @sloan-seamus

Added form validation Submit button works as designed Changed GAP Insurance buttons to checkbox
  frontend/insurance/src/app/modules/material/material.module.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.html
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.scss
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
  frontend/insurance/src/app/shared/shared.module.ts
Owners: @ej3076, @sloan-seamus

Login button now changes to Log Out and functions as such.
  frontend/insurance/src/app/app.module.ts
  frontend/insurance/src/app/core/components/navigation-bar/navigation-bar.component.html
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/new-claim/new-claim.component.html
  frontend/insurance/src/app/new-claim/new-claim.component.scss
  frontend/insurance/src/app/new-claim/new-claim.component.spec.ts
  frontend/insurance/src/app/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

Fix some things
  frontend/insurance/src/app/app-routing.module.ts
  frontend/insurance/src/app/app.module.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.component.ts
  frontend/insurance/src/app/modules/view-claims/view-claims.module.ts
  frontend/insurance/src/app/shared/components/new-claim/new-claim.component.ts
Owners: @ej3076, @sloan-seamus

Updating error handling based on feedback.
  middleware/lib/claim-client.js
  processors/src/claim-processor/handler.js
Owners: @dbartalino, @dsifford

CODEOWNERS:

*            @dbartalino @dsifford @ej3076 @sloan-seamus
/frontend/   @ej3076 @sloan-seamus
/middleware/ @dbartalino
/processors/ @dsifford
